:root{


--ForestGreen: hsl(138, 100%, 25%);
--LightYellow: hsl(67, 100%, 87%);
--DarkGreen: hsl(137, 100%, 16%);
--White-neutral: hsl(0, 0%, 100%);
--DarkCharcoal-neutral: hsl(24, 5%, 18%);
--Eggshell-neutral: hsl(30, 54%, 90%);



--ff-top: "Young Serif", serif;
--ff-base: "Outfit", sans-serif;
   
--fw-regular: 400;
--fw-semi-bold: 600;
--fw-bold: 700;
}

*{
margin: 0;
box-sizing: border-box;
}
body{
    background:var(--DarkGreen);
}
.container{
    width: 100%;
    height: 100%;
}
.menu{
   background: var(--White-neutral);
   padding:39.5px ;
   margin:7.625em 24.375em 6.625em 24.375em;
   border-radius: 20px;
}
img{
    width: 100%;
    border-radius: 13px;
}
.attribution{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: var(--ff-top);
    font-weight: var(--fw-regular);
    color: var(--DarkCharcoal-neutral);
    margin: 30px 0 19.5px 0;
    font-size: 40px;
}


p, h3, li, table{
    font-family: var(--ff-base);
    font-size: 16px;

}
p, li{
    color: var(--ForestGreen);
}
span{
    
    font-weight: var(--fw-semi-bold);
}
p{
    font-weight: var(--fw-regular);
}
section{
    padding: 15px 0;
    
}
.preparation{
    background-color: var(--ForestGreen);
    margin-top:40px ;
    padding-left:30px;
    border-radius: 13px;
}
h3{
    color: var(--DarkGreen);
    font-size:20px ;
}

.aboutUs li::marker {
    color: var(--LightYellow);
}
.li ul li, ol li{
    padding-left: 10px;
}
.li li{
    padding-top: 15px;
}
.sec li::marker {
    color: var(--Nutmeg-primary);
}
.step{
    padding-top: .7em;
}
table{
width: 39em;
padding-left:1.6em ;
border-collapse: collapse;
}
td{
    padding: 1em;
    border-bottom:1px solid var(--Light-Grey-neutral);
}
.left{
    color: var(--Brown-neutral);
}
.right{
    color: var(--Nutmeg-primary);
}

@media (max-width: 1444px) {
    .menu {
        padding: 15px;
        margin: 6.625em 8.375em 4.625em 8.375em;
    }
}

