:root {
    --ForestGreen: hsl(138, 100%, 25%);
    --LightYellow: hsl(67, 100%, 87%);
    --DarkGreen: hsl(137, 100%, 16%);
    --White-neutral: hsl(0, 0%, 100%);
    --DarkCharcoal-neutral: hsl(24, 5%, 18%);
    --ff-top: "Young Serif", serif;
    --ff-base: "Outfit", sans-serif;
    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;
}

* {
    margin: 0;
    padding: 0; /* Ensure there's no padding */
    box-sizing: border-box; /* Makes layout easier */
}

body {
    font-family: var(--ff-base); /* Base font for the body */
    background: var(--DarkGreen); /* Background color */
    color: var(--White-neutral); /* Text color */
}

.container {
    padding: 20px; /* Adds padding around content */
}

/* Heading Styles */
h1 {
    font-family: var(--ff-top);
    font-weight: var(--fw-regular);
    color: var(--DarkCharcoal-neutral);
    margin: 30px 0 19.5px 0;
    font-size: 40px; /* Heading size */
}

/* General Text Styles */
p, h3, li {
    font-family: var(--ff-base);
    font-size: 16px;
    color: var(--ForestGreen); /* Text color */
}

h3 {
    color: var(--DarkGreen);
    font-size: 20px; /* Size for h3 */
}

/* Footer Styles */
footer {
    text-align: center;
    background-color: var(--DarkCharcoal-neutral); /* Footer color */
    color: var(--White-neutral); /* Footer text color */
    padding: 10px; /* Padding for the footer */
}